
:root {  
    --color-highlight: hsl(220, 20%, 95%);
    --color-primary: hsl(0, 50%, 50%);
    --color-primary-highlight: hsl(0, 50%, 40%);

    /* Light colors */
    color-scheme: light;
    --color-base: hsl(220, 30%, 10%);
    --color-text: hsl(220, 30%, 20%);
    --color-dim: hsl(220, 30%, 40%);
    --color-link: hsl(220, 30%, 10%);
    --color-link-hover: var(--color-primary);
    --color-line: hsl(220, 25%, 90%);
    --color-background: hsl(220, 20%, 95%);

    /* Fonts */
    --font-family-code: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    --font-family-ui: -apple-system, system-ui, sans-serif;
  
    --font-code: 1rem/1.5 var(--font-family-code);
    --font-display: bold clamp(2.1rem, 12vw, 2.3rem)/1.1 var(--font-family-ui);
    --font-display-spacing: -0.02em;
    --font-title: bold clamp(1.6rem, 8vw, 1.8rem)/1.2 var(--font-family-ui);
    --font-title-spacing: -0.015em;
    --font-body: clamp(1rem, 1vw, 1.1rem)/1.7 var(--font-family-ui);
    --font-body-bold: bold var(--font-body);
    --font-ui: 1rem/1.4 var(--font-family-ui);
    --font-small: 1rem/1.4 var(--font-family-ui);
    --font-xsmall: 0.8rem/1.4 var(--font-family-ui);

    /* Space */
    --row-gap-xsmall: 0.5rem;
    --row-gap-small: 2.5rem;
    --row-gap-medium: clamp(2rem, 5vh, 5rem);
    --row-gap-large: clamp(5rem, 8vh, 8rem);

    --column-gap-small: 1rem;
    --column-gap-medium: 2.0rem;
}

body {
  max-width: min(100% - 25vw, 50rem);
  margin: 0 auto;
  padding-top: var(--row-gap-large);
  padding-bottom: var(--row-gap-large);

  display: grid;
  gap: var(--row-gap-medium);

  font: var(--text-body);
}


a:link {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.navbar-container {
    position: static;
    padding: 0 0;
    z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: var(--row-gap-large);

  a {
    text-decoration: none;
  }

}

.navbar-link {
  display: flex;
  column-gap: var(--column-gap-small);
  font: var(--font-body-bold);
}

.navbar-link div:last-child {
  margin-left: auto;
}






.tag-index {
  display: flex;
  flex-flow: row wrap;
  gap: var(--column-gap-small);
  align-items: center;  
}

.pagination {
  font: var(--font-ui);
  margin-top: var(--row-gap-medium);

  display: flex;
  justify-content: space-between;
}

.pagination > .next-post {
    text-align: right;
}

.pagination a {
  color: var(--color-dim);
  display: block;
}

.pagination a:hover {
  color: var(--color-dim);
  text-decoration: none;
}



footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  color: var(--color-dim);
  font: var(--font-xsmall);

  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}


h1 {
  font: var(--font-display);
  letter-spacing: var(--font-display-spacing);
  margin: 0;
}


blockquote {
  border-left: 10px solid var(--color-line);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  line-height: 1.5;
}